[submodule "External/AngryWasp.Serializer"]
	path = External/AngryWasp.Serializer
	url = https://bitbucket.org/angrywasp/angrywasp.serializer
[submodule "External/Nerva.Rpc.CSharp"]
	path = External/Nerva.Rpc.CSharp
	url = https://bitbucket.org/nerva-project/nerva.rpc.csharp
[submodule "External/Nerva.Identity"]
	path = External/Nerva.Identity
	url = https://bitbucket.org/nerva-project/nerva.identity
[submodule "External/AngryWasp.Cryptography"]
	path = External/AngryWasp.Cryptography
	url = https://bitbucket.org/angrywasp/angrywasp.cryptography
[submodule "External/Nerva.Levin.CSharp"]
	path = External/Nerva.Levin.CSharp
	url = https://bitbucket.org/nerva-project/nerva.levin.csharp
